*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #5383FF;
    --color-blue-secondary: #3669eb;
    --color-white: #fff;
    --color-background: #000000e0;
    --color-silver-title: #5a5a5a;
    --color-background-silver: #dad7d7;
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: var(--color-background);
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        to right, #000, #00000088, #00000011
    ), url(image/viktor-forgacs-3PyBkxgTiL0-unsplash.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-left: 4%;
    margin-right: 4%;
}

.container-header div img{
    width: 70px;
}

.navbar ul{
    display: flex;
    gap: 50px;
    margin-right: -30px;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    color: var(--color-white);
    
    padding: 6px 15px;
    border-radius: 5px;
    transition: .2s ease-in-out;
}

.navbar ul li a:hover{
    background-color: var(--color-primary);
    box-shadow: 0px 0px 10px var(--color-primary);
}

.home-title{
    margin-left: 4%;
}
.home-title h1{
    margin-top: 350px;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    color: var(--color-white);
}

.home-title h1 span{
    color: var(--color-primary);
    transition: .2s ease-in-out;
}

.home-title h1 span:hover{
    color: #5383FF;
    text-shadow: 0px 0px 4px var(--color-primary);
}

.home-title p{
    color: var(--color-white);
    font-size: 20px;
}

section.blockchain{
    width: 100%;
    height: 100vh;
    background: var(--color-background-silver) linear-gradient(
        to left, #00000054, #00000010, #00000000
    );
}

.blockchain-header{
    text-align: center;
}

.blockchain-header h2{
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 35px;
    color: var(--color-silver-title);
}

.blockchain-header h2 span{
    color: var(--color-blue-secondary);
}

.blockchain-box{
    display: flex;
    align-items: center;
    margin-left: 4%;
    margin-right: 4%;
    gap: 40px;
}

.box-block-img img{
    width: 380px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 10px #5a5a5a6e;
    opacity: .8;
}

.principal-ul > li{
    list-style: none;
}

.box-block-list{
    width: 980px;
}

.sub-ul{
    gap: 5px;
}

.sub-list{
    margin-left: 30px;
}

.introducao{
    margin-bottom: 10px;
}

.title-strong{
    margin-bottom: 6px;
    margin-top: 10px;
    color: var(--color-primary);
}

.jogue-junto{
    width: 100%;
    height: 70vh;
    background: var(--color-blue-secondary);
    opacity: .9;
    display: flex;
    justify-content: center;
}

.box-junto{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.text-junto h3{
    color: var(--color-white);
    font-family: "Bebas Neue", sans-serif;
    font-size: 35px;

}

.text-junto p{
    width: 550px;
    text-align: justify;
    color: var(--color-white);
    font-weight: bold;
}

.line-vert{
    width: 2px;
    height: 300px;
    background-color: var(--color-white);
    margin: 0 100px;
}

.text-junto-secundary{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-top: 20px;
}

.text-junto-secundary h3{
    color: var(--color-white);
    margin-bottom: 10px;
    font-size: 25px;
}

.text-junto-secundary p{
    width: 550px;
    color: var(--color-white);
    margin-bottom: 20px;
    font-weight: bold;
}

.text-junto-secundary button a{
    text-decoration: none;
    color: var(--color-white);
    font-size: 20px;
    font-style: italic;

}

.text-junto-secundary button{
    border: none;
    padding: 20px 80px;
    border-radius: 10px;
    background-color: var(--color-background);
    box-shadow: 0px 8px 10px -5px #0a193f;
    transition: .2s ease-in-out;
    cursor: pointer;
    
}

.text-junto-secundary button:hover{
    background-color: #8b8989;
}

.tokens{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100vh;
}

.container-tokens{
    width: 100%;
    height: 50px;
}

.carrossel{
    width: 100%;
    display: flex;
    position: relative;
}

.item{
    width: 100px;
    height: 50px;
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    animation-delay: var(--delay);
}

.item img{
    padding-top: 20px;
    width: 60%;
}

@keyframes autoRun {
    from{
        left: 100%;
    }
    to{
        left: -50px;
    }
}

.content-tokens{
    margin-top: 50px;
    margin-left: 4%;
    margin-right: 4%;
}

.title-tokens{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-tokens h2{
    color: var(--color-white);
    font-family: "Bebas Neue", sans-serif;
    font-size: 35px;
    margin-bottom: 20px;
}

.title-tokens h2 span{
    color: var(--color-primary);
}

.title-tokens p{
    color: var(--color-white);
    text-align: center;
    width: 900px;
}

.subtitle-tokens{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.subtitle-tokens h3{
    color: var(--color-primary);
    margin-bottom: 10px;
}

.subtitle-tokens p{
    color: var(--color-white);
    width: 900px;
    text-align: center;
}


.box-1{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box-tks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px 5px var(--color-silver-title);
}

.box-tks i{
    color: var(--color-blue-secondary);
    font-size: 35px;
}

.box-tks p{
    text-align: center;
    margin-top: 5px;
}

.box-tks p strong{
    color: var(--color-white);
    padding: 30px 0;
}

.box-tks span{
    color: var(--color-background-silver);
}

.container-sobre{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        to right, #000, #00000088, #00000011
    ), url(image/sean-pollock-PhYq704ffdA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-sobre{
    margin-top: 80px;
}

.title-sobre h2{
    width: 100%;
    text-align: center;
    color: var(--color-white);
    font-size: 35px;
    font-family: "Bebas Neue", sans-serif;
    background-color: #5a5a5a83;
    padding: 40px 110px;
    border-radius: 5px;
}

.title-sobre h2 span{
    color: var(--color-primary);
    
}

.containte-sobre{
    display: flex;
    justify-content: space-around;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 200px;
    align-items: center;
}

.text-sobre > h3{
    font-family: "Bebas Neue", sans-serif;
    color: var(--color-blue-secondary);
    margin-left: 4%;
    margin-right: 4%;
    font-size: 30px;
}
 .text-sobre > p{
    color: var(--color-white);
    margin-left: 4%;
    margin-right: 4%;
    width: 700px;
    text-align: justify;
 }

 .img-logo-sobre{
    padding-right: 150px;
 }

 .img-logo-sobre img{
    width: 250px;
 }

 .container-cotacao{
    width: 100%;
    height: 90vh;
 }

 .container-cotacao h2 {
    text-align: center;
    margin-bottom: 20px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 35px;
    color: var(--color-white);
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: var(--color-background-silver);
}

th, td {
    border-bottom: 1px solid var(--color-blue-secondary);
    padding: 8px;
    text-align: center;
}

th {
    background-color: var(--color-blue-secondary);
    color: var(--color-background);

}

.positive {
    color: #77ff77;
    text-shadow: 0px 0px 8px;
}

.negative {
    color: #e93c3c;
    text-shadow: 0px 0px 8px;
}





/* DEFI */

h2 {
    color: var(--color-white);
    font-family: "Bebas Neue", sans-serif !important;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

#swap-interface {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

 label {
    display: block;
    margin-top: 10px;
}

 select, input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

 button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

 button:hover {
    background-color: #218838;
}


